# Ignore Python virtual environment
.venv/
venv/

# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore system files
.DS_Store
Thumbs.db

# Ignore log files
*.log

# Ignore environment and config files
.env
*.env
*.cfg
*.ini

# Ignore Jupyter/IPython checkpoints
.ipynb_checkpoints/

# Ignore large media/model files
*.h5
*.pt
